<!DOCTYPE html>
<html>

<head>

	<title>QUESTIONER</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="body1">
	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">Questioner</span> Limited</h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="admin.html">Home</a></li>
					<li><a href="adminprofile.html">Profile</a></li>
					<li><a href="newmeetup.html">Create Meetup</a></li>
					<li><a href="login.html">LOg Out</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<h1>WELCOME TO QUESTIONER</h1>
			<p>This is a platform that aids in crowd-sourcing questions for meetup organizers</p>
		</div>
	</section>

	<section id="newsletter">
		<div class="container">
			<h1>Find a Meetup</h1>
			<form>
				<input type="search" placeholder="All Meetups..">
				<button type="submit" class="btn1">Search</button>
			</form>
		</div>
	</section>

	<section id="boxes">
		<div class="container">
			<div class="row">
				<div class="column">
					<a href="meetup.html"> <img src="../static/images/meetup1.png" alt="" style="width:100%"></a>
				</div>
				<div class="column">
					<a href="meetup.html"> <img src="../static/images/meetup1.png" alt="" style="width:100%"></a>
					<div class="content">
						<h3>Heading</h3>

					</div>
				</div>
				<div class="column">
					<a href="meetup.html"> <img src="../static/images/meetup1.png" alt="" style="width:100%"></a>
				</div>
				<div class="column">
					<a href="meetup.html"> <img src="../static/images/meetup1.png" alt="" style="width:100%"></a>
				</div>
				<div class="column">
					<a href="meetup.html"> <img src="../static/images/meetup1.png" alt="" style="width:100%"></a>
				</div>
				<div class="column">
					<a href="meetup.html"> <img src="../static/images/meetup1.png" alt="" style="width:100%"></a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<p>Questioner, Copyright &copy; 2017</p>
	</footer>
</body>

</html>